@model Municipal.TrashCollection.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>

<div class="row">
    <div class="col-md-6">
        <h4><i class="glyphicon glyphicon-calendar fa fa-calendar"></i>  Start Date:</h4>  @*Single Date Picker*@

        <input type="text" name="startdate" value="" />

        <script type="text/javascript">
            $(function () {
                $('input[name="startdate"]').daterangepicker({
                    singleDatePicker: true,
                    showDropdowns: true
                });
            });
        </script>

        <br /><br /><input type="submit" value="Save" class="btn btn-primary btn-sm" /> @*save button!*@
    </div>

    <div class="col-md-6">

        @if (User.Identity.Name != null)
            {
            <a href="@Url.Action("RegisterdUserInfoesController", "Edit")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-pencil" aria-hidden="true"> </span>  Edit Profile</a>
        }
        else
        {
            <a href="@Url.Action("RegisterdUserInfoesController", "Create")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Edit Profile</a>
        }

            <a href="@Url.Action("ChangePickupDay","PickupDay")" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>  Change Pickup Day</a>

        @if (Model.HasPassword)
            {
            <a href="http://localhost:62105/Manage/ChangePassword" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span>  Update Password</a>
        }
        else
        {
             @Html.ActionLink("Create", "SetPassword")
        }

        <br /><br /><br /><br />

        <div class="manageTable">
            <table border="0" class="col-sm-7 table-condensed table-hover">
                <tr>
                    <th>Month</th>
                    <th>Monthly Bill</th>
                    <th>Bill Status</th>
                </tr>
                <tr>
                    <td>January</td>
                    <td>$40.00</td>
                    <td id="payJan">Paid</td>
                </tr>
                <tr>
                    <td>February</td>
                    <td>$40.00</td>
                    <td id="payFeb">Paid</td>
                </tr>
                <tr>
                    <td>March</td>
                    <td>$40.00</td>
                    <td id="payMar">Paid</td>
                </tr>
                <tr>
                    <td>April</td>
                    <td>$40.00</td>
                    <td id="payApr">Paid</td>
                </tr>
                <tr>
                    <td>May</td>
                    <td>$40.00</td>
                    <td id="payMay">Paid</td>
                </tr>
                <tr>
                    <td>June</td>
                    <td>$40.00</td>
                    <td id="payJun">Paid</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>$40.00</td>
                    <td id="payJul">Paid</td>
                </tr>
                <tr>
                    <td>August</td>
                    <td>$40.00</td>
                    <td id="payAug">Paid</td>
                </tr>
                <tr>
                    <td>September</td>
                    <td>$40.00</td>
                    <td id="paySep">Unpaid</td>
                </tr>
                <tr>
                    <td>October</td>
                    <td>$40.00</td>
                    <td id="payOct">Unpaid</td>
                </tr>
                <tr>
                    <td>November</td>
                    <td>$40.00</td>
                    <td id="payNov">Unpaid</td>
                </tr>
                <tr>
                    <td>December</td>
                    <td>$40.00</td>
                    <td id="payDec">Unpaid</td>
                </tr>
                <tr><td></td></tr>
                <tr><td colspan="3"><b>Please make checks payable to:</b></td></tr>
                <tr><td colspan="3">
                    Municipal Trash Collection<br />
                    17504 Pokemon Lane<br />
                    Redmond, WA 98052-6399<br />
                    </td></tr>
            </table>

            <button id="payBtn" class="pull-left btn btn-primary btn-sm" onclick="payButton()">
                <div id="payButtonMonth">Pay</div>
            </button>
        </div>
    </div>
</div>


    @*<div class="col-md-6">
            <iframe src="https://calendar.google.com/calendar/embed?src=rustykxy%40gmail.com&ctz=America/Chicago" style="border: 0" width="600" height="700" frameborder="0" scrolling="no"></iframe>
        </div>

        </div>

        <div>*@


    <script type="text/javascript">
        function payButton() {
            @if (DateTime.Now.Month == 1) {
        <text>
            document.getElementById("payJan").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 2) {
        <text>
            document.getElementById("payFeb").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>

             }
            @if (DateTime.Now.Month == 3) {
        <text>
            document.getElementById("payMar").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 4) {
        <text>
            document.getElementById("payApr").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 5) {
        <text>
            document.getElementById("payMay").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 6) {
        <text>
            document.getElementById("payJun").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 7) {
        <text>
            document.getElementById("payJul").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 8) {
        <text>
            document.getElementById("payAug").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 9) {
        <text>
            document.getElementById("paySep").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 10) {
        <text>
            document.getElementById("payOct").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
             }
            @if (DateTime.Now.Month == 11) {
        <text>
            document.getElementById("payNov").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
            @if (DateTime.Now.Month == 12) {
        <text>
            document.getElementById("payDec").innerHTML = "Paid";
            document.getElementById("payButtonMonth").innerHTML = "Paid";
            document.getElementById("payBtn").disabled = true;
            </text>
            }
        }
    </script>
